<p-card>
  <form [formGroup]="newPlayerForm" (ngSubmit)="onSubmit()">
    <span class="p-float-label m-1">
      <input
        class="w-full"
        id="float-input"
        type="text"
        pInputText
        formControlName="label"
      />
      <label for="float-input">Nombre</label>
    </span>
    <span class="p-float-label m-1">
      <input
        class="w-full"
        id="float-input"
        type="text"
        pInputText
        formControlName="label"
      />
      <label for="float-input">Descripcion</label>
    </span>
    <p-card [formGroup]="paceForm">
      <ng-template class="justify-content-center" pTemplate="header">
        <h1 class="m-5">Ritmo</h1>
        <p-knob
          class="flex align-items-center justify-content-center"
          [readonly]="true"
          [formControl]="paceAverageControl"
          [(ngModel)]="pace.paceAverage"
          [size]="200"
        ></p-knob>
      </ng-template>
      <div class="grid">
        <div class="col-6">
          <h5>Aceleracion</h5>
          <p-knob
            [formControl]="accelerationControl"
            [(ngModel)]="pace.acceleration"
          ></p-knob>
        </div>
        <div class="col-6">
          <h5>Velocidad maxima</h5>
          <p-knob
            [formControl]="sprintSpeedControl"
            [(ngModel)]="pace.sprintSpeed"
          ></p-knob>
        </div>
      </div>
    </p-card>
    <p-card [formGroup]="shootingForm">
      <ng-template class="justify-content-center" pTemplate="header">
        <h1 class="m-5">Tiro</h1>
        <p-knob
          class="flex align-items-center justify-content-center"
          [readonly]="true"
          [formControl]="shootingAverageControl"
          [(ngModel)]="shooting.shootingAverage"
          [size]="200"
        ></p-knob>
      </ng-template>
      <div class="grid">
        <div class="col-6">
          <h5>Posicion</h5>
          <p-knob
            [formControl]="positioningControl"
            [(ngModel)]="shooting.positioning"
          ></p-knob>
        </div>
        <div class="col-6">
          <h5>Definicion</h5>
          <p-knob
            [formControl]="finishingControl"
            [(ngModel)]="shooting.finishing"
          ></p-knob>
        </div>
        <div class="col-6">
          <h5>Poder de disparo</h5>
          <p-knob
            [formControl]="shotPowerControl"
            [(ngModel)]="shooting.shotPower"
          ></p-knob>
        </div>
        <div class="col-6">
          <h5>Tiros largos</h5>
          <p-knob
            [formControl]="longShotsControl"
            [(ngModel)]="shooting.longShots"
          ></p-knob>
        </div>
        <div class="col-6">
          <h5>Volea</h5>
          <p-knob
            [formControl]="volleysControl"
            [(ngModel)]="shooting.volleys"
          ></p-knob>
        </div>
        <div class="col-6">
          <h5>Penales</h5>
          <p-knob
            [formControl]="penaltiesControl"
            [(ngModel)]="shooting.penalties"
          ></p-knob>
        </div>
        <div class="col-6">
          <h5>Precision con la cabeza</h5>
          <p-knob
            [formControl]="headingAccuracyControl"
            [(ngModel)]="shooting.headingAccuracy"
          ></p-knob>
        </div>
      </div>
    </p-card>
  </form>
  <pre>
    {{ newPlayerForm.value | json }}
  </pre>
</p-card>

<p-tree
  class="m-1"
  [value]="playerPool"
  [draggableNodes]="true"
  [droppableNodes]="true"
  draggableScope="self"
  droppableScope="self"
></p-tree>
<div class="grid">
  <div class="col-4">
    <p-tree
      [value]="firstTeam"
      [draggableNodes]="true"
      [droppableNodes]="true"
      draggableScope="self"
      droppableScope="self"
    ></p-tree>
  </div>
  <div class="col-4">
    <button
      pButton
      pRipple
      type="button"
      label="Armar equipos"
      class="p-button-raised p-button-success w-full"
    ></button>
  </div>
  <div class="col-4">
    <p-tree
      [value]="secondTeam"
      [draggableNodes]="true"
      [droppableNodes]="true"
      draggableScope="self"
      droppableScope="self"
    ></p-tree>
  </div>
</div>
