<p-card>
  <form [formGroup]="newPlayerForm" (ngSubmit)="onSubmit()">
    <span class="p-float-label m-5">
      <input
        class="w-full"
        id="float-input"
        type="text"
        pInputText
        formControlName="label"
      />
      <label for="float-input">Nombre</label>
    </span>
    <span class="p-float-label m-5">
      <input
        class="w-full"
        id="float-input"
        type="text"
        pInputText
        formControlName="data"
      />
      <label for="float-input">Descripcion</label>
    </span>
    <p-card>
      <div class="grid flex justify-content-start flex-wrap">
        <div class="col">
          <h4 class="m-5">Ritmo</h4>
          <p-knob [formControl]="paceForm" [(ngModel)]="pace"></p-knob>
        </div>
        <div class="col">
          <h4 class="m-5">Tiro</h4>
          <p-knob [formControl]="shootingForm" [(ngModel)]="shooting"></p-knob>
        </div>
        <div class="col">
          <h4 class="m-5">Pase</h4>
          <p-knob [formControl]="passingForm" [(ngModel)]="passing"></p-knob>
        </div>
        <div class="col">
          <h4 class="m-5">Regate</h4>
          <p-knob
            [formControl]="dribblingForm"
            [(ngModel)]="dribbling"
          ></p-knob>
        </div>
        <div class="col">
          <h4 class="m-5">Defensa</h4>
          <p-knob
            [formControl]="defendingForm"
            [(ngModel)]="defending"
          ></p-knob>
        </div>
        <div class="col">
          <h4 class="m-5">Fisico</h4>
          <p-knob [formControl]="physicalForm" [(ngModel)]="physical"></p-knob>
        </div>
      </div>
    </p-card>
    <button
      pButton
      pRipple
      type="submit"
      label="Agregar jugador a la lista"
      class="p-button-raised p-button-success w-full"
    ></button>
  </form>
</p-card>
<div class="grid">
  <div class="col">
    <p-card header="Lista de jugadores en la reserva" class="p-1">
      <div class="col-12 py-4 p-field">
        <div class="form-group row">
          <div class="custom-file">
            <label class="clickeable" for="upload-photo"
              >Importar lista de jugadores</label
            >
            <input
              type="file"
              name="photo"
              id="upload-photo"
              (change)="addFile($event)"
            />
          </div>
        </div>
      </div>

      <p-tree
        class="m-1"
        [value]="reservePool"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="a"
        droppableScope="self"
      ></p-tree>
    </p-card>
  </div>
  <div class="col">
    <p-card header="Lista de jugadores para los equipos (MIN 10)" class="p-1">
      <div class="col-12 py-4 p-field">
        <div class="form-group row">
          <div class="custom-file">
            <label>Importar lista de jugadores</label>
          </div>
        </div>
      </div>
      <p-tree
        class="m-1"
        [value]="playerPool"
        [draggableNodes]="false"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="a"
      ></p-tree>
    </p-card>
  </div>
</div>

<div class="grid">
  <div class="col-4">
    <p-card [header]="'Equipo 1 GBL:' + (firstTeam ? firstTeamAverage : 0)">
      <p-tree
        [value]="firstTeam"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="self"
      ></p-tree>
    </p-card>
  </div>
  <div class="col-4">
    <button
      pButton
      pRipple
      (click)="balanceTeams()"
      type="button"
      label="Armar equipos"
      class="p-button-raised p-button-success w-full"
    ></button>
  </div>
  <div class="col-4">
    <p-card
      [header]="'Equipo 1 GBL:' + (secondTeamAverage ? secondTeamAverage : 0)"
    >
      <p-tree
        [value]="secondTeam"
        [draggableNodes]="true"
        [droppableNodes]="true"
        draggableScope="self"
        droppableScope="self"
      ></p-tree>
    </p-card>
  </div>
</div>
